# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env
.env.*

# MLflow runtime files
mlflow.db
mlruns/
mlartifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.egg-info/
dist/
build/
